@import url("./global.css");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 29px 0;

  .title {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 24px;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 72px;

    li {
      color: var(--title-dark);

      &#this {
        background: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      input {
        display: none;

        &.theme {
          & + label {
            background-repeat: no-repeat;
            background-image: url("../assets/LightTheme.png");
          }

          &:checked + label {
            background-repeat: no-repeat;
            background-image: url("../assets/DarkTheme.png");
          }
        }

        &.modal {
          & + label {
            background-repeat: no-repeat;
            background-image: url("../assets/LightHamburger.svg");
          }
        }
      }

      label {
        cursor: pointer;
        display: block;
        width: 24px;
        height: 24px;
      }
    }

    .mobile {
      display: none;
    }
  }
}

.section1-container {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 80px auto 126px;

  h1 {
    max-width: 624px;
    margin-bottom: 20px;

    font-size: 96px;
    line-height: 135%;
    color: var(--title-dark);
    font-weight: 400;

    .yoga-emphasize {
      display: inline-block;

      background: var(--gradient-color);
      padding: 2px 12px;
      border-radius: 16px;
      transform: rotate(13deg);

      color: var(--white-color);
    }
  }

  p {
    max-width: 417px;
  }

  .start-btn {
    width: fit-content;
    margin-top: 32px;
    background: var(--gradient-color);
    border-radius: 64px;
    padding: 16px 24px;

    color: var(--white-color);
  }

  .yoga-amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;

    width: fit-content;
    margin-top: 48px;

    .amount {
      font-size: 56px;
    }

    .content {
      margin-top: 4px;

      font-size: 14px;
    }
  }

  .star-img {
    position: absolute;
    right: 565px;
    top: 163px;
  }

  .home-img {
    position: absolute;
    right: 0;
    top: -48px;
  }
}

.section2-container {
  display: flex;
  align-items: center;

  .number {
    margin-right: 32px;

    font-size: 56px;
  }

  .yoga {
    display: flex;
    align-items: center;
  }

  .yoga-img-wrapper {
    position: relative;

    width: 400px;
    height: 180px;
    margin: 50px 48px 0 0;
    background-color: var(--container-dark);
    border-radius: 200px;

    img {
      position: absolute;
      top: -50px;
      left: 25px;
    }
  }

  .content {
    position: relative;

    width: 353px;
    margin-right: 16px;

    img {
      position: absolute;
      top: -44px;
      left: -23px;
    }
  }
}

.section3-container {
  padding: 48px 0;
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  h1 {
    font-size: 64px;
    color: var(--title-dark);
    font-weight: normal;
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 32px;
  }
  button {
    padding: 16px 28px;
    background-image: var(--gradient-color);
    border-radius: 64px;
    color: var(--white-color);
  }
  .left {
    position: relative;
  }
  .marker {
    display: flex;
    position: absolute;
    background-color: var(--container-dark);
    padding: 9px 12px;
    border-radius: 12px;

    img {
      width: 50px;
      margin-right: 8px;
    }
    p {
      margin: 0;
    }
    .txt-gradient {
      background: var(--gradient-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .marker:nth-child(1) {
    flex-direction: row;
    top: 72px;
    left: 8px;
  }
  .marker:nth-child(2) {
    flex-direction: column;
    bottom: 32px;
    right: 31px;
  }
}
.section4-container {
  padding: 48px 0;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 74px;
  }
  h1 {
    font-size: 64px;
    color: var(--title-dark);
    font-weight: normal;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 32px;
  }
  button {
    padding: 16px 28px;
    background-image: var(--gradient-color);
    border-radius: 64px;
    color: var(--white-color);
  }
  .yoga-img {
    border: 10px solid var(--body-dark);
    border-radius: 192px;

    .marker {
      display: flex;
      align-items: center;
      position: absolute;
      background-color: var(--container-dark);
      padding: 12px 8px;
      border-radius: 16px;
      img {
        margin-right: 4px;
      }
      p {
        background: var(--gradient-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
      }
    }
  }
  .img-wrap {
    max-width: 570px;

    .yoga-img:nth-child(1) {
      width: 500px;
      height: 343.75px;
      position: relative;
      background-image: url("../assets/routine-yoga-1.png");
      background-size: cover;
      z-index: 2;
      .marker {
        top: 56px;
        right: -38px;
      }
    }
    .yoga-img:nth-child(2) {
      width: 500px;
      height: 343.75px;
      position: relative;
      background-image: url("../assets/routine-yoga-2.png");
      background-size: cover;
      margin-top: calc(232px - 343.72px);
      margin-left: 70px;
      z-index: 1;
      .marker {
        bottom: 56px;
        left: -48px;
      }
    }
  }
}

.section5-container {
  padding: 32px 0;

  h1 {
    font-size: 64px;
    color: var(--title-dark);
    font-weight: normal;
    span {
      background: var(--gradient-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .yoga-txt-container {
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
    max-width: 600px;

    button {
      display: flex;
      flex-direction: column;
      width: 88px;
      height: 88px;
      background-image: var(--gradient-color);
      border-radius: 64px;
      justify-content: center;
      align-items: center;
      margin: 32px auto 0;
      color: var(--white-color);
      gap: 7px;
    }
  }

  .yoga-container {
    position: relative;
    max-width: 1060px;
    margin: 0 auto;
    height: 821px;

    .yoga-img-wrap {
      position: absolute;
      border-radius: 192px;
      border: 10px solid var(--container-dark);
    }

    .yoga-img-wrap:nth-child(1) {
      width: 280px;
      height: 420px;
      background-image: url("../assets/follow-yoga-1.png");
      background-size: cover;
    }
    .yoga-img-wrap:nth-child(2) {
      right: 0;
      width: 280px;
      height: 420px;
      background-image: url("../assets/follow-yoga-2.png");
      background-size: cover;
    }
    .yoga-img-wrap:nth-child(3) {
      bottom: 20px;
      left: 0;
      width: 500px;
      height: 255.58px;
      background-image: url("../assets/follow-yoga-3.png");
      background-size: cover;
      transform: rotate(15deg);
    }
    .yoga-img-wrap:nth-child(4) {
      bottom: 20px;
      right: 0;
      width: 500px;
      height: 255.58px;
      background-image: url("../assets/follow-yoga-4.png");
      background-size: cover;
      transform: rotate(-15deg);
    }
  }
}
.section6-container {
  padding: 48px 0 88px 0;
  h1 {
    font-size: 54px;
    margin-bottom: 32px;
    color: var(--white-color);
  }
  p {
    max-width: 560px;
    text-align: center;
    font-size: 15px;
    color: var(--white-color);
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .input-wrap {
    position: relative;
  }
  input {
    width: 528px;
    padding: 26px 24px;
    border-radius: 48px;
  }
  button {
    display: flex;
    position: absolute;
    right: 8px;
    top: 50%;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    transform: translateY(-50%);
    background-image: var(--gradient-color);
    padding: 16px 28px;
    border-radius: 64px;
    box-shadow: 0 4px 12px rgba(91, 10, 255, 0.25);
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 992px;
    height: 374px;
    border-radius: 12px;
    background-image: var(--gradient-color);
    margin: 0 auto;
  }
}

Footer {
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-text-color);
  }

  h2 {
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--white-color);
  }

  .container {
    display: flex;
    justify-content: space-between;
    .left {
      max-width: 200px;
      img {
        margin-bottom: 40px;
      }
    }
    .right {
      display: flex;
      gap: 72px;
    }
    .social-box {
      display: flex;
      gap: 32px;
      img {
        width: 24px;
      }
    }
    .copy {
      font-size: 13px;
    }
  }

  hr {
    margin: 48px 0;
  }
  .arrow-up {
    display: none;
  }
}

.modal-wrapper {
  z-index: 9999;

  position: absolute;
  top: 0;
  left: 100vw;

  display: none;
  flex-direction: column;
  gap: 48px;

  width: 100vw;
  height: 100vh;
  padding: 16px 24px;

  background-color: #7d7d7d;

  .in-modal-class {
    background-repeat: no-repeat;
    background-image: url("../assets/LightClose.svg");

    margin-left: auto;
  }

  #modal-home {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 1165px) {
  .header,
  main {
    margin: 0 24px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    & + & {
      margin-bottom: 64px;
    }
  }

  .wrapper {
    width: -webkit-fill-available;
  }

  .header {
    padding: 15px 0;

    .navigation {
      gap: 20px;

      .menu {
        display: none;
      }

      .mobile {
        display: block;
      }
    }
  }

  .section1-container {
    margin-top: 40px;

    h1 {
      font-size: 44px;
      text-align: center;
    }

    p {
      position: relative;

      text-align: center;
    }

    .start-btn {
      padding: 16px 28px;
    }

    .yoga-amount {
      gap: 51px;

      margin-top: 32px;

      .amount {
        font-size: 28px;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 0;
      }
    }

    .star-img {
      left: -20px;
      top: -30px;
      width: 50px;
    }

    .home-img {
      position: initial;

      width: 320px;
      margin-top: 32px;
    }
  }

  .section2-container {
    margin-top: 32px;

    .number {
      margin-right: 28px;

      font-size: 28px;
    }

    .yoga-img-wrapper {
      width: 230px;
      height: 100px;

      img {
        width: 180px;
      }
    }

    .content {
      width: 100%;
      margin-right: 0;
      margin-top: 46px;

      text-align: center;

      img {
        left: -13px;
      }
    }

    .next-btn {
      margin-top: 32px;
    }
  }

  .section3-container {
    h1 {
      margin-bottom: 0;

      font-size: 32px;
      text-align: center;
    }

    .flex-container {
      flex-direction: column-reverse;

      .left {
        .health-fitness {
          width: 320px;
        }

        p {
          font-size: 13px;
        }

        .marker {
          img {
            width: 36px;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-top: 24px;

          font-size: 15px;
          text-align: center;
        }
      }
    }
  }

  .section4-container {
    h1 {
      margin-bottom: 24px;

      font-size: 32px;
      text-align: center;
    }

    p {
      font-size: 15px;
      text-align: center;
    }

    .flex-container {
      flex-direction: column;

      .txt-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .yoga-img {
      .marker {
        img {
          width: 24px;
        }
        p {
          font-size: 13px;
        }
      }
    }

    .img-wrap {
      .yoga-img:nth-child(1) {
        width: 250px;
        height: 171px;

        .marker {
          top: 20px;
          right: -50px;
        }
      }

      .yoga-img:nth-child(2) {
        width: 250px;
        height: 171px;
        margin-top: calc(232px - 300px);

        .marker {
          bottom: 23px;
          left: -52px;
        }
      }
    }
  }

  .section5-container {
    h1 {
      font-size: 32px;
    }
    .yoga-txt-container {
      padding-top: 0;
      button {
        margin-top: 24px;
      }
    }
    .yoga-container {
      grid-template-columns: 1fr;
      .yoga-img-wrap {
        border: 5px solid var(--container-dark);
      }
      .yoga-img-wrap:nth-child(1) {
        width: 140px;
        height: 210px;
        top: 267px;
      }
      .yoga-img-wrap:nth-child(2) {
        width: 140px;
        height: 210px;
        top: 307px;
      }
      .yoga-img-wrap:nth-child(3) {
        width: 230px;
        height: 117px;
        top: 544.76px;
      }
      .yoga-img-wrap:nth-child(4) {
        width: 230px;
        height: 117px;
        top: 699.96px;
      }

      .yoga-img-wrap:nth-child(even) {
        margin-left: auto;
      }
    }
  }

  .section6-container {
    h1 {
      margin-bottom: 15px;

      font-size: 28px;
      font-weight: normal;
    }

    p {
      margin-bottom: 24px;
    }

    input {
      width: 100%;

      padding: 16px 28px;
    }

    .input-wrap {
      position: relative;

      width: 258px;

      button {
        position: absolute;
        top: 112px;
        right: 0;

        width: 258px;
        padding: 16px 0;
      }
    }

    .box {
      height: 100%;
      padding: 48px 35px 116px;
    }
  }

  footer {
    padding: 64px 20px;

    p {
      font-size: 15px;
    }

    h2 {
      margin-bottom: 20px;

      font-size: 20px;
    }

    hr {
      margin: 40px 0;
    }

    .container {
      flex-direction: column;

      .left {
        img {
          margin-bottom: 20px;
        }
      }

      .right {
        flex-direction: column;
        gap: 40px;

        margin-top: 40px;
      }

      .social-box {
        justify-content: center;
      }

      .copy {
        margin-top: 40px;

        text-align: center;
      }
    }
    .arrow-up {
      position: fixed;
      bottom: 50px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-image: var(--gradient-color);
      border-radius: 50px;
      z-index: 999;
      box-shadow: 0 2px 8px rgba(91, 10, 255, 0.25);
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
