* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--body-dark);

  color: var(--text-dark);
}

body:has(input[type="checkbox"]:checked) {
  background-color: var(--body-light);

  color: var(--text-light);
}

.wrapper {
  width: 1156px;
  margin: 0 auto;
}

:root {
  --body-light: #f5f0ff;
  --container-light: #ffffff;
  --text-light: #4b3e65;
  --title-light: #220953;

  --body-dark: #14092a;
  --container-dark: #372a51;
  --text-dark: #a094b8;
  --title-dark: #d1c0f1;
}
Footer {
  display:flex;
  flex-direction:column;
  padding: 64px 0;
  
  p {
    font-size: 16px;
    line-height:1.5;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 32px;
    color: var(--container-light);
  }

  .container {
    display:flex;
    justify-content: space-between;
    .left {
      max-width: 200px;
      img {
        margin-bottom: 40px;
      }
    }
    .right {
      display:flex;
      gap: 72px;
    }
    .social-box {
      display: flex;
      gap:32px;
      img {
        width:24px;
      }
    }
    .copy {
      font-size: 13px;
    }
  }

  hr {
    margin: 48px 0;
  }
}