* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-dark);

  color: var(--text-dark);
}

body:has(input[type="checkbox"]:checked) {
  background-color: var(--body-light);
  color: var(--text-light);

  .light-title {
    color: var(--title-light);
  }

  .light-bg {
    background-color: var(--first-color-dark);
  }

  .light-container {
    background-color: var(--container-light);
  }
  
  .light-border {
    border: 10px solid var(--container-light);
  }
  
  .light-body-border {
    border: 10px solid var(--body-light);
  }
  
  .light-span-bg {
    background-color: var(--white-color);
  }
}

input {
  border: none;
}

button {
  display: flex;
  align-items: center;

  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;

  img {
    margin-left: 4px;
  }
}

a {
  color: inherit;
}

.font-lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}

.wrapper {
  width: 1156px;
  margin: 0 auto;
}

:root {
  --gradient-color: linear-gradient(to right, #ff52af 0%, #9f53ff 100%);
  --white-color: #ffffff;
  --footer-text-color: #a197b4;

  --body-light: #f5f0ff;
  --container-light: #e5d9fd;
  --text-light: #4b3e65;
  --title-light: #220953;
  --first-color-dark: #1e0849;

  --body-dark: #14092a;
  --container-dark: #372a51;
  --text-dark: #a094b8;
  --title-dark: #d1c0f1;
}
